
@{
    ViewBag.Title = "Student List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2 class="text-center" id="title">Student List</h2>
    <hr />

    <p>Use this area to provide additional information.</p>
</div>